.container {
    background-color: #E6E6E6;
    width: 100%;
    position: fixed;
    clear: both;
    z-index: 1;
}
.nav nav-pills li {
    color: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #FFFFFF;
    background-color: #585858;
}
.nav-tabs li {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FFFFFF;
    background-color: #585858;
}

.jumbotron {
    background-repeat: no-repeat;
    background-image:url('http://fc03.deviantart.net/fs71/f/2011/292/7/a/windows_8_blue_grain_by_ipur-d4dbkwa.jpg');
    color: #fff;
    height: 300px;
    font-family: "Shift", sans-Serif;
    font-weight: bold;
    background-size: cover;
    padding-top: 100px;
}
